.user-feed-screen {
    width: 300px;
    // padding: 5px 15px;
    display: flex;
    flex-direction: column;
    // border: 3px solid red;

    .top-bar {
        // padding: 5px 0px;
        // height: 44px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.2);
        display: flex;
        justify-content: space-between;

        .bar-label {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px 15px;
        }

        .menu {
            width: 70px;
        }
    }

    .user-feed-list {
        overflow: scroll;
        flex: 1;
        padding: 0px 15px 20px 15px;
        .ms-ActivityItem-activityContent {
            text-align: left;
        }
    }

}