.uploaded-documents-screen {
    max-width: 1000px;
    margin: auto;
    overflow: scroll;
    height: 100vh;
}

.control-tools {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    padding: 15px;
}

.search-bar {
    padding-left: 100px;
    .ms-SearchBox {
        border-color: rgba(0, 0, 0, 0.25);
    }
}

.ms-Toggle {
    margin: 0px;
}