.user-detail {
    border-right: 1px solid rgba(128, 128, 128, 0.2);

    .top-bar {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(128, 128, 128, 0.2);
        
        .user-persona {
            display: flex;
            align-items: center;
            padding-left: 15px;
        }
    
        .menu {
            width: 80px;
        }
    }

    .detail-cards {
        .top-row {
            display: flex;
        }
    }

    .cards-row-two {
        border-top: 1px solid rgba(128, 128, 128, 0.2);
        display: flex;
    }

    .break-line {
        height: 10px;
        background: rgba(128, 128, 128, 0.2);
    }
}
