.user-grouping-screen {
    display: flex;
    max-width: 1250px;
    flex: 1;

    .top-bar {
        // padding: 5px 0px;
        // height: 44px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.2);
        display: flex;
        justify-content: space-between;

        .bar-label {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px 15px;
        }

        .menu {
            width: 70px;
        }
    }

    .listing-container {
        // width: 250px;
        display: flex;
        flex: 1;
        flex-direction: column;
        border-right: 1px solid rgba(128, 128, 128, 0.2);
    
        .user-listing {
            overflow: scroll;
        }
    
        .top-bar {
            border-bottom: 1px solid rgba(128, 128, 128, 0.2);
            .menu {
                width: 70px;
            }
        }
    
        .search-bar {
            padding: 15px 10px;
    
            .ms-SearchBox {
                border-color: rgba(0, 0, 0, 0.25);
            }
        }
    
        .user-list-item {
            padding: 5px 10px;
            display: flex;
            justify-content: space-between;
    
            &.selected {
                background-color: rgba(128, 128, 128, 0.2);
            }
        
            &:hover {
                background: rgba(128, 128, 128, 0.2);
            }
        }
    }
    .add-icon {
        margin: 0px 6px;
        margin: 0px 6px;
        
        height: 40px;
        width: 40px;
        border-radius: 50%;
        svg {
            width: 17px;
            fill: rgba(0, 0, 0, 0.5)
        }
    }

    .add-icon:hover {
        background: #d5d5d5;
    }
}

.group-column {
    flex: 1;
    border-right: 1px solid rgba(128, 128, 128, 0.2);
}

.members-to-add, .group-members {
    display: flex;
}

.group-name-item {
    padding: 15px;
    text-align: left;
    font-size: 16px;

    &.selected {
        background: rgba(128, 128, 128, 0.2);
    }

    &:hover {
        background: rgba(128, 128, 128, 0.2);
    }
}