.documents-list-container {
    // width: 300px;
    flex: 1;
    border-right: 1px solid rgba(128, 128, 128, 0.2);
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);

    .top-bar {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(128, 128, 128, 0.2);
        align-items: center;

        .bar-label {
            padding-left: 15px;
        }
        
        .user-persona {
            display: flex;
            align-items: center;
            padding-left: 15px;
        }
    
        .menu {
            width: 80px;
        }
    }

    .document-list {
        padding: 8px 15px;
        height: 250px;
        overflow-y: auto;

        .prescription-item {
            margin: 11px 0px;
            padding: 6px 6px;
            display: flex;
            box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.15);
            align-items: center;
            color: rgba(0, 0, 0, 0.5);
            font-size: 12px;

            .doc-name {
                flex: 1;
                text-align: left;
            }

            .doc-icon {
                margin: 0px 6px;
                svg {
                    width: 15px;
                    fill: rgba(0, 0, 0, 0.5)
                }
            }
        }
    }
}