.user-listing-screen {
    display: flex;
   

    .listing-container {
        width: 250px;
        display: flex;
        flex-direction: column;
        border-right: 1px solid rgba(128, 128, 128, 0.2);

        .user-listing {
            overflow: scroll;
        }

        .top-bar {
            border-bottom: 1px solid rgba(128, 128, 128, 0.2);
            .menu {
                width: 250px;
            }
        }

        .search-bar {
            padding: 15px 10px;

            .ms-SearchBox {
                border-color: rgba(0, 0, 0, 0.25);
            }
        }

        .user-list-item {
            padding: 5px 10px;

            &.selected {
                background-color: rgba(128, 128, 128, 0.2);
            }
        
            &:hover {
                background: rgba(128, 128, 128, 0.2);
            }
        }
    }

}