.side-menu {
    background: #9e5c7a;
    width: 70px;
    display: flex;
    flex-direction: column;
}

.icon-container {
    background: white;
    border-right: 1px solid rgba(128, 128, 128, 0.2);
}

.menu-items {
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    .menu-item {
        // flex: 1;
        margin: 15px 0px;
        border-radius: 6px;
        width: 45px;
        height: 45px;

        display: block;
        position: relative;
        overflow: hidden;
        // border: 2px solid #fff;

        &:before {
            content: "";
            position: absolute;
            left: -100%;
            // left: 0;
            width: 100%;
            height: 100%;
            background: white;
            transition: .3s;
            z-index: 0;
        }

        .menu-icon svg {
            width: 30px;
            transition: all .4s ease-out;
            fill: white;
            z-index: 3;
        }

        

        &:hover {
            
            &:before {
                left: 0;
                transition: left 0.3s;
            }
            

            .menu-icon svg {
                width: 25px;
                fill: black;
                transform: rotateY(0deg);
            }
        }
        
        &.selected {
            
            &:before {
                left: 0;
                transition: left 0.3s;
            }
            
            .menu-icon svg {
                width: 25px;
                fill: black;
                transform: rotateY(0deg);
            }
        }
    }
}

.app-icon {
    padding: 12px 7px 5px 7px;
    width: 50px;

}