.notes-card {
    flex: 1;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    display: flex;
    flex-direction: column;

    .top-bar {
        border-bottom: 1px solid rgba(128, 128, 128, 0.2);
        display: flex;
        justify-content: space-between;
    
        .bar-label {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px 15px;
        }
    
        .notes-menu {
            // width: 150px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-size: 14px;
    
            .notes-paginator {
                padding: 0px 6px;
                white-space: nowrap;
            }
    
            .commander-menu {
                width: 70px;
            }
        }
    }

    .textarea-container {
        flex: 1;
        display: flex;
    }

    textarea {
        width: 100%;
        border: none; 
        outline: none;
        resize: none;
        padding: 10px;
    }
    
    textarea.is-empty {
        background: url(https://wallup.net/wp-content/uploads/2017/11/22/395468-text-typography-minimalism-black-white_background-simple_background-writing-748x421.jpg) no-repeat center/100%;
    }
}

