.user-card-container {
    width: 400px;
    border-right: 1px solid rgba(128, 128, 128, 0.2);
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    display: flex;

    .user-card-left {
        padding: 20px 10px;
        border-right: 1px solid rgba(128, 128, 128, 0.2);
        flex: 3;
    }

    .user-card-right {
        flex: 2;
    }

    .ms-Persona {
        flex-direction: column;
    }

    .user-name {
        font-size: 18px;
    }

    .second-label {
        padding-top: 0;
    }

    .user-stats {
        display: flex;
        padding: 13px;

        .user-stats-item {
            flex: 1;
        }

        .user-stats-item.border {
            border-right: 1px solid rgba(128, 128, 128, 0.2);            
        }
    }

    .right-stats-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .stat-label {
            font-size: 14px;
            padding-bottom: 0px;
        }

        .stat-second-label {
            font-size: 11px;
            padding-top: 0;
        }
    }
}
